@model Garage_2._0_MPT.Models.MemberViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Members</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicles)
        </dt>
        <dd class="col-sm-10">
            @await Component.InvokeAsync("VehicleForUser", new { MemberId = Model.Member.Id })
           

        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Member.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
