@using Garage_2._0_MPT.Models
@model Garage_2._0_MPT.Models.CreateViewModel

@{
    ViewData["Title"] = "Park";
}

<h1 class="header_table">Park a Vehicle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.Vehicle.VehicleTypId" class="control-label"></label>
                <select asp-for="ParkedVehicle.Vehicle.VehicleTypId" name="VehicleTypId" class="form-control">
                    <Option value=""></Option>
                    @foreach (var vehicleType in @Model.vehicleTypes)
                    {
                        <Option value="@vehicleType.VehicleTypId">@vehicleType.Name</Option>
                    }
                </select>
                <span asp-validation-for="ParkedVehicle.Vehicle.VehicleTypId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.Vehicle.RegNr" class="control-label"></label>
                <input asp-for="ParkedVehicle.Vehicle.RegNr" name="RegNr" class="form-control" />
                <span asp-validation-for="ParkedVehicle.Vehicle.RegNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.Vehicle.VehicleColor" class="control-label"></label>
                <input asp-for="ParkedVehicle.Vehicle.VehicleColor" name="VehicleColor" class="form-control" />
                <span asp-validation-for="ParkedVehicle.Vehicle.VehicleColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.Vehicle.VehicleModel" class="control-label"></label>
                <input asp-for="ParkedVehicle.Vehicle.VehicleModel" name="VehicleModel" class="form-control" />
                <span asp-validation-for="ParkedVehicle.Vehicle.VehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.Vehicle.VehicleBrand" class="control-label"></label>
                <input asp-for="ParkedVehicle.Vehicle.VehicleBrand" name="VehicleBrand" class="form-control" />
                <span asp-validation-for="ParkedVehicle.Vehicle.VehicleBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedVehicle.Vehicle.NumberOfWheels" class="control-label"></label>
                <input asp-for="ParkedVehicle.Vehicle.NumberOfWheels" name="NumberOfWheels" class="form-control" />
                <span asp-validation-for="ParkedVehicle.Vehicle.NumberOfWheels" class="text-danger"></span>
            </div>
            <label>Member id @Model.Member.FirstName  @Model.Member.LastName </label>
            <input type="Text" readonly value="@Model.Member.Id" name="MemberId" />
            <!-- <div class="form-group">
        <label asp-for="ParkInDate" class="control-label"></label>
        <input asp-for="ParkInDate" class="form-control" />
        <span asp-validation-for="ParkInDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ParkOutDate" class="control-label"></label>
        <input asp-for="ParkOutDate" class="form-control" />
        <span asp-validation-for="ParkOutDate" class="text-danger"></span>
    </div>
              
       -->
            <div class="form-group">
                <input type="submit" value="Park" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
