@model Garage_2._0_MPT.Models.ListViewModel

@{
    ViewData["Title"] = "Index";
    
}

<h1>@Model.Message</h1>

<p>
    <a asp-action="Index">Return to all Vehicles</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th id="s_typ" class="myTbBox" onclick='location.href="@Url.Action("ParkedCars", "ParkedVehicles", new {Sort = "Name" , Message="Name"})"'>
                @Html.DisplayNameFor(model => model.Header.Vehicle.VehicleTyp.Name)<span><img id="i1" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th id="s_reg" class="myTbBox" onclick='location.href="@Url.Action("ParkedCars", "ParkedVehicles", new {Sort = "RegNr", Message="Reg nr" })"'>
                @Html.DisplayNameFor(model => model.Header.Vehicle.RegNr)<span><img id="i2" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th id="s_col" class="myTbBox" onclick='location.href="@Url.Action("ParkedCars", "ParkedVehicles", new {Sort = "VehicleColor", Message="Color" })"'>
                @Html.DisplayNameFor(model => model.Header.Vehicle.VehicleColor)<span><img id="i3" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th id="s_mod" class="myTbBox" onclick='location.href="@Url.Action("ParkedCars", "ParkedVehicles", new {Sort = "VehicleModel", Message="Model" })"'>
                @Html.DisplayNameFor(model => model.Header.Vehicle.VehicleModel)<span><img id="i4" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th id="s_bra" class="myTbBox" onclick='location.href="@Url.Action("ParkedCars", "ParkedVehicles", new {Sort = "VehicleBrand", Message="Brand" })"'>
                @Html.DisplayNameFor(model => model.Header.Vehicle.VehicleBrand)<span><img id="i5" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th class="myTbBox">
                @Html.DisplayNameFor(model => model.Header.ParkedVehicle.Where)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ParkedViewModel)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleTyp.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkedVehicle.Where)
            </td>
            <td>
                <a asp-action="Check_Out" asp-route-id="@item.ParkedVehicle.Id">Check Out</a>
                <a asp-action="Details" asp-route-id="@item.ParkedVehicle.Id">Details</a>
                <!-- <a asp-action="Delete" asp-route-id="@item.ParkedVehicle.Id">Delete</a> |
        <a asp-action="Receipt" asp-route-id="@item.ParkedVehicle.Id">Receipt</a> -->
            </td>
        </tr>
}
    </tbody>
</table>
