@model Garage_2._0_MPT.Models.SingelViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="header_table">Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Vehicle.VehicleTyp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.Vehicle.VehicleTyp.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Vehicle.RegNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.Vehicle.RegNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Vehicle.VehicleColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.Vehicle.VehicleColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Vehicle.VehicleModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.Vehicle.VehicleModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Vehicle.VehicleBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.Vehicle.VehicleBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Vehicle.NumberOfWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.Vehicle.NumberOfWheels)
        </dd>
        @foreach (var item in Model.ParkedVehicle.ParkedVehicles)
        {


            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelitem => item.ParkedVehicle.ParkInDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => item.ParkedVehicle.ParkInDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelitem => item.ParkedVehicle.Where)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => item.ParkedVehicle.Where)
            </dd>

        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
