@model Garage_2._0_MPT.Models.SingelViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="header_table">Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.VehicleTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.VehicleTyp.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.RegNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.RegNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.VehicleColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.VehicleColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.VehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.VehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.VehicleBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.VehicleBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.NumberOfWheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.NumberOfWheels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.ParkInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.ParkInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehicle.Where)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkedVehicle.Where)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
