@model Garage_2._0_MPT.Models.ParkedVehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleTyp.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Where)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Where)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
