@model IEnumerable<Garage_2._0_MPT.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Parked Vehicles</h1>

<p>
    <a asp-action="Create">Park</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th id="s_typ" class="myTbBox" onclick='location.href="@Url.Action("SortTyp", "ParkedVehicles")"'>

                @Html.DisplayNameFor(model => model.VehicleTyp.Name)<span><img id="i1" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th id="s_reg" class="myTbBox" onclick='location.href="@Url.Action("SortReg", "ParkedVehicles")"'>
                @Html.DisplayNameFor(model => model.RegNr)<span><img id="i2" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th id="s_col" class="myTbBox" onclick='location.href="@Url.Action("SortCol", "ParkedVehicles")"'>
                @Html.DisplayNameFor(model => model.VehicleColor)<span><img id="i3" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th id="s_mod" class="myTbBox" onclick='location.href="@Url.Action("SortMod", "ParkedVehicles")"'>
                @Html.DisplayNameFor(model => model.VehicleModel)<span><img id="i4" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th id="s_bra" class="myTbBox" onclick='location.href="@Url.Action("SortBrand", "ParkedVehicles")"'>
                @Html.DisplayNameFor(model => model.VehicleBrand)<span><img id="i5" class="updown" src="~/img/bullet_green.png" /></span>
            </th>
            <th class="myTbBox">
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </th>
            <th class="myTbBox">
                @Html.DisplayNameFor(model => model.ParkedTime)
            </th>
            <th class="myTbBox">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="myTbBox">
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTyp.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkedTime) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div class="allBtnTB">
                    <a class="myBtnTb" asp-action="Check_Out" asp-route-id="@item.Id">Check Out</a> |
                    <a class="myBtnTb" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <!-- <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> | -->
                    <a class="myBtnTb" asp-action="Receipt" asp-route-id="@item.Id">Receipt</a>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
