@model Garage_2._0_MPT.Models.ListViewModel

@{
    ViewData["Title"] = "Overviev";
}

<h1 class="header_table">Parked Cars</h1>


<table class="table table-borderless">
    <thead>
        <tr>
            <th class="myTbBox">
                @Html.DisplayNameFor(model => model.Header.Vehicle.VehicleTyp.Name)
            </th>
            <th class="myTbBox">
                @Html.DisplayNameFor(model => model.Header.Vehicle.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header.Vehicle.VehicleColor)
            </th>
            <th class="myTbBox">
                Parking time
            </th>
            <th class="myTbBox">
                Park In
            </th>
            <th class="myTbBox">
                Park Out
            </th>
            <th class="myTbBox">
                Price
            </th>
            <th class="myTbBox">
                Parking Lot
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParkedViewModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTyp.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.VehicleColor)
                </td>
                <td colspan="6">
                    <table>
                        @foreach (var item2 in item.ParkedVehicles)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.ParkedTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.ParkedVehicle.ParkInDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.ParkedVehicle.ParkOutDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item2.Price)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item2.ParkedVehicle.Where)
                                </th>
                                <td>
                                    <a asp-action="Check_Out" asp-route-id="@item2.ParkedVehicle.Id">Check Out</a>
                                    <a asp-action="Details" asp-route-id="@item2.ParkedVehicle.Id">Details</a>
                                    <!-- <a asp-action="Delete" asp-route-id="@item2.ParkedVehicle.Id">Delete</a> |
                <a asp-action="Receipt" asp-route-id="@item.2ParkedVehicle.Id">Receipt</a>-->
                                </td>
                            </tr>
                        }
                    </table>
                </tr>
            }
        </tbody>
        </table>

