@model Garage_2._0_MPT.Models.ListViewModel

@{
    ViewData["Title"] = "All";
}

<h1 class="header_table">All Vehicles</h1>


<table class="table table-borderless">
    <thead>
        <tr>

            <th class="myTbBox">
                Name
            </th>

            <th class="myTbBox">
                @Html.DisplayNameFor(model => model.Header.Vehicle.VehicleTyp.Name)
            </th>
            <th class="myTbBox">
                @Html.DisplayNameFor(model => model.Header.Vehicle.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header.Vehicle.VehicleColor)
            </th>
            <th class="myTbBox" colspan="6">
                <div class="row">
                    <span class="col-2">Parked Time</span>
                    <span class="col-4">Parked in when</span>
                    <span class="col-1">Price</span>
                    <span class="col-2">Lot</span>
                    <span class="col-3"></span>
                </div>
</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParkedViewModel.OrderByDescending(v => (v.ParkedVehicles == null) ? 0 : 1))
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Member.FirstName)  @Html.DisplayFor(modelItem => item.Vehicle.Member.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.VehicleTyp.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleColor)
            </td>


            <td colspan="6">
                <div class="row">

                        @if (item.ParkedVehicles.Count > 0 && item.ParkedVehicles.Any(pv => pv.ParkedVehicle.ParkOutDate == null))
                        {

                            @foreach (var item2 in item.ParkedVehicles.OrderByDescending(v => (v.ParkedVehicle == null) ? 0 : 1))
                            {


                                <span class="col-2">
                                    @Html.DisplayFor(modelItem => item2.ParkedTime)
                                </span>
                                <span class="col-4">
                                    @Html.DisplayFor(modelItem => item2.ParkedVehicle.ParkInDate)
                                </span>
                 
                                <span class="col-1">
                                    @Html.DisplayFor(modelItem => item2.Price)
                                </span>
                                <span class="col-2 myBtnDetails">
                                    @Html.DisplayFor(modelItem => item2.ParkedVehicle.Where)
                                </span>
                                <span class="col-3">
                                    <span class="allBtnTB">
                                        <a class="myBtnDetails" asp-action="Check_Out" asp-route-id="@item2.ParkedVehicle.Id">Check Out</a>
                                        <a class="myBtnDetails" asp-route-id="@item2.ParkedVehicle.Id">Details</a>
                                        <!-- <a asp-action="Delete" asp-route-id="@item2.ParkedVehicle.Id">Delete</a> |
                        <a asp-action="Receipt" asp-route-id="@item.2ParkedVehicle.Id">Receipt</a>-->
                                    </span>


                                </span>


                            }

                        }

                        @if (item.ParkedVehicles.Count == 0 || item.ParkedVehicles.All(pv => pv.ParkedVehicle.ParkOutDate != null))
                        {



                            <span class="col-2"></span>
                            <span class="col-4"></span>
                            <span class="col-1"></span>
                            <span class="col-2"></span>
                            <span class="col-3">
                                <span class="allBtnTB">
                                    <a class="myBtnDetails" asp-controller="ParkedVehicles" asp-action="Parkthis" asp-route-vehicleid="@item.Vehicle.Id">Park this&nbsp;</a>
                                    <a class="myBtnDetails" asp-controller="ParkedVehicles" asp-action="VehicleDetails" asp-route-vehicleid="@item.Vehicle.Id">Details</a>
                                </span>
                            </span>


                        }
                </div>
            
            </td>
            </tr>
            }
        </tbody>
    </table>

