@model Garage_2._0_MPT.Models.ParkedVehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Receipt</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleTyp.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleTyp.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            <!-- <nl>Price</nl>-->
            @Html.DisplayNameFor(model => model.CostPerHour)

        </dt>
        <dd class="col-sm-10">
           @Html.DisplayFor(model => model.CostPerHour)
       <!-- <dt>100SEK</dt> -->
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@*Kommentar*@