@model Garage_2._0_MPT.Models.StatViewModel

@{
    ViewData["Title"] = "Statistik";
    
}

<h1 class="header_table">Garage statistik </h1>


<div class="container">
    <div class="row">
        <div class="col stat_head ">Statistik of</div>
        <div class="col stat_head ">sum</div>
        <div class="w-100"></div>
        <div class="col">Total weels in the garage:</div>
        <div class="col">@Html.DisplayFor(model => model.TotalWeels)</div>
        <div class="w-100"></div>
        <div class="col">Today revenue:</div>
        <div class="col">@Html.DisplayFor(model => model.TodayTotalIncome) Sek</div>
        <div class="w-100"></div>
        <div class="col">Total revenue from start:</div>
        <div class="col">@Html.DisplayFor(model => model.TotalIncome) Sek</div>
        <div class="w-100"></div>
        @foreach (var item in Model.myTypes)
        {
            <div class="col"> @Html.DisplayFor(modelItem => item.Name)</div>
            <div class="col"> @Html.DisplayFor(modelItem => item.Count)</div>
            <div class="w-100"></div>
        }
        <br/>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
