@model Garage_2._0_MPT.Models.StatViewModel

@{
    ViewData["Title"] = "Statistik";
    
}

<h1>StatyStat</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-10">
            Super
        </dt>
        <dd class="col-sm-10">
            Total weels in the garage: @Html.DisplayFor(model => model.TotalWeels)
        </dd>
        <dd class="col-sm-10">
            Today revenue: @Html.DisplayFor(model => model.TodayTotalIncome)
        </dd>
        <dd class="col-sm-10">
            Total revenue from start: @Html.DisplayFor(model => model.TotalIncome)
        </dd>
        <dd class="col-sm-10">
            CountByType: @Html.DisplayFor(model => model.sTyp)
        </dd>
        <dd class="col-sm-10">
            CountByType: @Html.DisplayFor(model => model.myTypes)
        </dd>
        @foreach (var item in Model.myTypes)
        {
            <dd>
            @Html.DisplayFor(modelItem => item) - 
            <br />
            </dd> 
        }
        </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
